*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.primary-color{
  background-color: #00505c;
  color: #00505c;
}
.white-color{
  color: #FFFFFF;
}
.background-grey{
  background-color: #f2f2f2;
  color: #f2f2f2;
}
.text-color{
  color: #428691;
}

.secondary-navbar{
  font-weight: bold;
  
}

.bold-text{
  font-weight: bold;
}
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}

html, body, #root { /* set height of html, body, and root to 100% */
  height: 100%;
}

.h-100 { /* add margin and padding to Container with 100% height */
  margin: 0;
  padding: 0;


  height: 100%;

}


